.second-half{
    display: flex;
   justify-content: space-around;
}

.tips{
    background-color: rgb(255, 255, 255);
    font-size: 25px;
    color: black;
    border-radius: 3px;
    margin-left: 18px;
}

.ways{
    margin-left: 15px;
}

.blackBG{
    margin-left: 15px;
    margin-right: 15px;
}

.txt{
    color: grey;
}

.line{
    margin-left: 8px;
    margin-right: 7px;
}